* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box {
	position: absolute;
	top: 0;
	left: 50%;
	width: 640px;
	height: 960px;
	margin-left: -320px;
	-webkit-transform-origin: top;
	overflow: hidden;
}

.list li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.list li:nth-child(1) {
	background: url(images/m1.png)no-repeat;
}

.list li:nth-child(2) {
	background: url(images/m3.png)no-repeat;
}

.list li:nth-child(3) {
	background: url(images/m4.png)no-repeat;
}

.list li:nth-child(4) {
	background: url(images/m-5.png)no-repeat;
}

.zIndex {
	z-index: 111;
}

.a1 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}

.a1 p {
	background-color: white;
	font-size: 26px;
	line-height: 26px;
	height: 80px;
	width: 300px;
	margin: 10px auto;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000000;
}

.a1 h2 {
	font-size: 36px;
	color: white;
	margin-bottom: 80px;
	opacity: 0;
	height: 100px;
	line-height: 200px;
	font-size: 60px;
	font-family: "bookshelf symbol 7";
}

.a1 div {
	width: 210px;
	height: 210px;
	border: 1px solid red;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transform: translate(0, -500px);
	transform: translate(0, -500px);
	opacity: 0;
}

.a1 div img {
	width: 100%;
	height: 100%;
}

.a1 p:nth-child(odd) {
	-webkit-transform: translate(500px, 0);
	transform: translate(500px, 0);
}

.a1 p:nth-child(even) {
	-webkit-transform: translate(-500px, 0);
	transform: translate(-500px, 0);
}

#a1 div {
	-webkit-transform: translate(0, 0);
	opacity: 1;
	-webkit-transition: 2s 2s;
	transform: translate(0, 0);
	transition: 2s 2s;
}

#a1 p {
	-webkit-transform: translate(0, 0);
	-webkit-transition: 1s;
	transform: translate(0, 0);
	transition: 1s;
}

#a1 h2 {
	opacity: 1;
	-webkit-transform: rotate(360deg);
	
	-webkit-transition: 2s;
	transform: rotate(360deg);
	transition: 2s;
}

.a2 div {
	width: 100%;
	height: 100%;
	/* word-wrap: break-word;*/
	overflow: hidden;
	position: absolute;
	padding: 240px 0;
}

.a2 p {
	width: 90%;
	overflow: hidden;
	margin: 50px auto;
	opacity: 0;
}

.a2 p img {
	width: 100%;
	height: 100%;
}

.a2 p:nth-child(1) {
	-webkit-transform: translate(0, -500px);
	transform: translate(0, -500px);
}

.a2 p:nth-child(2) {
	-webkit-transform: translate(-800px, 0) rotate(0deg);
	transform: translate(-800px, 0) rotate(0deg);
}

.a2 p:nth-child(3) {
	-webkit-transform: translate(0, 500px);
	transform: translate(0, 500px);
}

#a2 p:nth-child(1) {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s;
}

#a2 p:nth-child(2) {
	-webkit-animation: mmm 1s linear 0s 1;
	animation: mmm 1s linear 0s 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes mmm {
	50%{
		-webkit-transform: translate(0, 0) ;
		transform: translate(0, 0) ;
		opacity: 0.5;
	}
	100% {
		-webkit-transform:rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
}

#a2 p:nth-child(3) {
	-webkit-animation: mmj 1.25s, 100ms;
	animation: mmj 1.25s, 100ms ;
	-webkit-animation-fill-mode: both;
	animation-fill-mode:both ;
	
}

@-webkit-keyframes mmj{
50%{
	-webkit-transform:translate(0,-50px);
	transform:translate(0,-50px);
	opacity: 0.5;}
75%{
	-webkit-transform:translate(0,0);
	transform:translate(0,0);
}
85%{
	-webkit-transform:translate(0,-20px)
	transform:translate(0,-20px);}
100%{
	-webkit-transform: translate(0,0);
transform: translate(0,0);
opacity: 1;
}
}



.a3 {
	width: 100%;
	height: 100%;
}

.a3 p {
	width: 560px;
	height: 100px;
	background-color: white;
	position: absolute;
	top: 1200px;
	left: 50%;
	margin-left: -280px;
	font-size: 24px;
	opacity: 0;
	
}
.a3 p:nth-child(1){text-align: center;border-radius: 10px 10px 0 0;font-size: 36px;line-height: 36px;}
.a3 p:nth-child(6){border-radius:0 0 20px 20px;}

#a3 p {
	opacity: 1;
}

#a3 p:nth-child(1) {
	-webkit-transform: translate(0, -1000px);
	transform: translate(0, -1000px);
border-radius: 20px 20px 0 0;
	-webkit-transition: 1s;
	transition: 1s;
	
}

#a3 p:nth-child(2) {
	-webkit-transform: translate(0, -900px);
	transform: translate(0, -900px);
	-webkit-transition: 1s 0.5s;
	transition: 1s 0.5s;
}

#a3 p:nth-child(3) {
	-webkit-transform: translate(0, -800px);
	transform: translate(0, -800px);
	-webkit-transition: 1s 1s;
	transition: 1s 1s;
}

#a3 p:nth-child(4) {
	-webkit-transform: translate(0, -700px);
	transform: translate(0, -700px);
	-webkit-transition: 1s 1.5s;
	transition: 1s 1.5s;
}

#a3 p:nth-child(5) {
	-webkit-transform: translate(0, -600px);
	transform: translate(0, -600px);
	-webkit-transition: 1s 2s;
	transition: 1s 2s;
}

#a3 p:nth-child(6) {
	-webkit-transform: translate(0, -500px);
	transform: translate(0, -500px);
	-webkit-transition: 1s 2.5s, ease-in;
	transition: 1s 2.5s, ease-in;
}

.a4 {
	width: 100%;
	height: 100%;
	position: relative;
}
.a4 span{position: absolute;left:800px; height: 9.8%;background: white;width: 100%;line-height: 100px;font-size: 36px;color: white;}
.a4 span:nth-child(1){
	background: #07939c;

}
.a4 span:nth-child(2){
	background: #f20d5e;

}
.a4 span:nth-child(3){
	background: #a9f20d;
	
}
.a4 span:nth-child(4){
	background: #1f2020;

}
#a4 span:nth-child(1){
		-webkit-animation: aa1 ease-in 1s ;
		animation: aa1 ease-in 1s ;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
#a4 span:nth-child(2){
		-webkit-animation: aa2 ease-in 1.5s ;
	-webkit-animation-fill-mode: both;
	animation: aa2 ease-in 1.5s ;
	animation-fill-mode: both;
}
#a4 span:nth-child(3){
		-webkit-animation: aa3 ease-in 2s ;
	-webkit-animation-fill-mode: both;
	animation: aa3 ease-in 2s ;
	animation-fill-mode: both;
}
#a4 span:nth-child(4){
		-webkit-animation: aa4 ease-in 2.5s ;
	-webkit-animation-fill-mode: both;
	animation: aa4 ease-in 2.5s ;
	animation-fill-mode: both;
}
@-webkit-keyframes aa1{
	25%{
		left: 0;
	}
	50%{
		left: 15px;
	}
	75%{
		left: 10px;
	}
	100%{
		left: 20px;
		z-index: 100;
		
	}
}
@-webkit-keyframes aa2{
	100%{
		left: 60px;
		z-index: 101;
		
	}
}
@-webkit-keyframes aa3{
	100%{
		left: 100px;
		z-index: 102;
		
	}
}
@-webkit-keyframes aa4{
	100%{
		left: 140px;
		z-index: 103;
		
	}
}

.a4 p {
	position: absolute;z-index: 200;
	background: white;
}
.a4 p:nth-of-type(1) {
	top: -20%;
	left: -40%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: white;
	opacity: 0;
}

.a4 p:nth-of-type(2) {
	top: 40%;
	left: 55%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: white;
	opacity: 0;
}

.a4 p:nth-of-type(3) {
	top: 660px;
	left: -200px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: white;
	opacity: 0;
}

.a4 p:nth-of-type(4) {
	top: 660px;
	left: 720px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: white;
	opacity: 0;
}

#a4 p:nth-of-type(1) {
	
	-webkit-animation: nn1 1s 2s;
	animation: nn1 1s 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes nn1{
	100%{
	left: 100px;
	top: 200px;
	opacity: 1;
	}
}

#a4 p:nth-of-type(2) {
	
	-webkit-animation: nn2 1s 3s;
	animation: nn2 1s 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes nn2{
100%{
	opacity: 1;
	-webkit-transform: scale(2);}
}

#a4 p:nth-of-type(3) {
	
-webkit-animation: nn3 2s 4s;
animation: nn3 2s 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes nn3{
	100%{
	left: 300px;
	top: 560px;
	opacity: 1;
	}
}

#a4 p:nth-of-type(4) {
	
	-webkit-animation: nn4 2s 4s;
	-webkit-animation-fill-mode: both;
	animation: nn4 2s 4s;
	animation-fill-mode: both;
}
@-webkit-keyframes nn4{
	100%{
		top: 700px;
	left: 100px;
	opacity: 1;
	}
}